.automat {
  &__container {
    padding-top: 100px;
  }
  &__top {
    margin-bottom: 30px;
  }
  &__title {
  }
  &__main {
    display: flex;
    justify-content: space-between;
    gap: 90px;
  }
  &__par {
    width: 100%;
    max-width: 425px;
  }
  &__par-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__par-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 25px 25px 20px;
    transition: all 0.3s;
  }
  &__par-item:hover {
    background: var(--white);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  &__par-item.active {
    background: var(--white);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  &__par-item-main {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    position: relative;
  }
  &__par-item-icon {
    fill: var(--gray);
    left: 0;
    position: absolute;
    visibility: hidden;
    &_gray {
      visibility: visible;
    }
  }
  &__par-item.active &__par-item-icon {
    visibility: visible;
  }
  &__par-item:hover &__par-item-icon {
    visibility: visible;
  }
  &__par-item-text {
    font-size: 24px;
    font-weight: bold;
    color: var(--gray);
    margin-left: 50px;
    transition: all 0.3s;
  }
  &__par-item:hover &__par-item-text {
    color: var(--blue);
  }
  &__par-item.active &__par-item-text {
    color: var(--blue);
  }

  &__par-item-arrow {
    fill: var(--gray);
    visibility: hidden;
  }
  &__par-item.active &__par-item-arrow {
    visibility: visible;
  }
  &__par-item:hover &__par-item-arrow {
    visibility: visible;
  }
  &__info-list {
    display: flex;
    width: 100vw;
    max-width: 700px;
    min-height: 446px;
    height: content;
    position: relative;
    overflow: hidden;
    // padding-left: 10px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 174, 255, 0.2);
  }
  &__info-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 446px;
    // position: absolute;
    flex-shrink: 0;
    left: 0;
    top: 0;
    padding: 30px;
    width: 100%;
    height: 100vh;
    max-height: max-content;
    visibility: hidden;
    max-width: 595px;
    background: var(--white);
    // border-radius: 20px;
    // box-shadow: 0px 4px 20px rgba(0, 174, 255, 0.2);
    transition: all 0.3s;
    transform: translateX(100%);
    order: 2;
  }

  &__info-item.active {
    visibility: visible;
    transform: translateX(0%);
    order: 1;
  }
  &__info-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__info-sublist {
    color: var(--gray);
  }
  &__info-subitem {
    color: var(--gray);
    list-style-type: disc;
    list-style-position: inside;
    line-height: 160%;
    font-weight: 300;
    font-size: 16px;
  }
}

@media (max-width: 1140px) {
  .automat {
    &__main {
      flex-direction: column;
      gap: 20px;
    }
    &__par {
      width: 100%;
      max-width: none;
    }
    &__par-list {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__par-item {
      padding: 25px 30px;
      width: max-content;
    }
    &__par-item-main {
      flex-grow: 0;
    }
    &__par-item-icon {
      max-width: 35px;
    }
    &__par-item-text {
      font-size: 18px;
      text-wrap: nowrap;
    }
    &__par-item-arrow {
      visibility: hidden;
      display: none;
    }

    &__info-list {
      width: 100%;
      max-width: none;
      padding: 10px;
      border-radius: 0px;
      box-shadow: none;
      max-height: none;
    }

    &__info-item {
      width: 100%;
      height: 100%;
      max-width: none;
      transform: translate(0);
      border-radius: 20px;
      box-shadow: 0px 4px 20px rgba(0, 174, 255, 0.2);
    }

    &__info-sublist {
      // display: flex;
      // flex-wrap: wrap;
    }
  }
}
