.automat {
  &__container {
    padding-top: 100px;
  }
  &__top {
    margin-bottom: 30px;
  }
  &__title {
  }
  &__main {
    display: flex;
    justify-content: space-between;
    gap: 90px;
  }
  &__par {
    width: 100%;
    max-width: 425px;
  }
  &__par-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__par-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 25px 25px 20px;
    transition: all 0.3s;
  }
  &__par-item:hover {
    background: var(--white);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  &__par-item.active {
    background: var(--white);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  &__par-item-main {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    position: relative;
  }
  &__par-item-icon {
    fill: var(--gray);
    left: 0;
    position: absolute;
    visibility: hidden;
    &_gray {
      visibility: visible;
    }
  }
  &__par-item.active &__par-item-icon {
    visibility: visible;
  }
  &__par-item:hover &__par-item-icon {
    visibility: visible;
  }
  &__par-item-text {
    font-size: 24px;
    font-weight: bold;
    color: var(--gray);
    margin-left: 50px;
    transition: all 0.3s;
  }
  &__par-item:hover &__par-item-text {
    color: var(--blue);
  }
  &__par-item.active &__par-item-text {
    color: var(--blue);
  }

  &__par-item-arrow {
    fill: var(--gray);
    visibility: hidden;
  }
  &__par-item.active &__par-item-arrow {
    visibility: visible;
  }
  &__par-item:hover &__par-item-arrow {
    visibility: visible;
  }
  &__info {
    width: 100vw;
    max-width: 700px;
    overflow: hidden;
  }
  &__info-list {
    width: 100%;
  }
  &__info-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    visibility: hidden;
    max-width: 595px;
    background: var(--white);
    box-shadow: 0px 4px 20px rgba(0, 174, 255, 0.2);
    border-radius: 20px;
  }

  &__info-item.active {
    visibility: visible;
  }
  &__info-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__info-sublist {
    color: var(--gray);
  }
  &__info-subitem {
    color: var(--gray);
    list-style-type: disc;
    list-style-position: inside;
    line-height: 160%;
    font-weight: 300;
  }
}
