@keyframes pulsar-btn {
  from {
    background: url("/img/first-screen-btn.svg") no-repeat;
  }
  to {
    background: url("/img/first-screen-btn-no.svg") no-repeat;
  }
}

.first-screen {
  height: calc(100dvh - 70px);
  width: 100%;
  background: var(--black);
  left: 0;
  overflow: hidden;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 100px;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    padding-top: 100px;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-grow: 1;
    width: 100%;
  }
  &__left {
    max-width: 476px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__title {
    font-size: 48px;
    font-weight: bold;
    color: var(--white);
    transition: all 0.3s;
  }
  &__subtitle {
    color: var(--white);
    font-size: 24px;
  }
  &__btn {
    color: var(--white);
    padding: 16px 50px;
    max-width: 300px;
    border-radius: 15px;
    border: 1px solid var(--violet);
    background: var(--violet);
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s;
  }
  &__btn:hover {
    background: none;
  }
  &__right {
    max-width: 420px;
    max-height: 430px;
    width: 100%;
    height: 100%;
  }
  &__right-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    right: 0;
  }
  &__bottom {
    margin-bottom: 100px;
  }
  &__bottom-btn {
    width: 50px;
    height: 50px;
    animation-name: pulsar-btn;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
}

@media (max-width: 880px) {
  .first-screen {
    &__container {
        justify-content: center;
        gap: 0;
    }
    &__main {
        flex-grow: 1;
    }
    &__bottom {
      margin-bottom: 15vw;
    }
  }
}

@media (max-width: 760px) {
  .first-screen {
    &__left {
        max-width: 300px;
    }
    &__title {
      font-size: 42px;
    }
    &__subtitle {
      font-size: 20px;
    }

    &__right {
      display: none;
    }
    &__btn {
        font-size: 16px;
        max-width: 250px;
    }
  }
}

@media (max-width: 420px) { 
    .first-screen {
        &__left {
            max-width: 300px;
        }
        &__title {
          font-size: 36px;
        }
        &__subtitle {
          font-size: 18px;
        }
        &__bottom {}
      }

}
