.header {
  background: var(--white);
  padding: 15px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  z-index: 20;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo-block img{
    max-height: 40px;
  }
  &__menu {
  }

  &__email {
  }
  &__email-link {
    font-size: 20px;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__item {
  }
  &__item-link {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 400;
  }
  &__burger {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    // background: var(--white);

    display: none;
    visibility: hidden;
    &-psevdo {
      position: absolute;
      width: 100%;
      height: 2px;
      background: var(--black);
      top: 50%;
      left: 0;
      transition: all 0.3s;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: var(--black);
      left: 0;
      transition: all 0.3s;
    }
    &::before {
      top: 0;
    }

    &::after {
      top: 100%;
    }

    &.active::before {
      transform: translateY(-50%) rotateZ(45deg);
      top: 50%;
    }
    &.active::after {
      top: 50%;
      transform: translateY(-50%) rotateZ(-45deg);
    }

    &.active &-psevdo {
      transform: rotateZ(-45deg);
      visibility: hidden;
      opacity: 0;
    }
  }
  &__hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100dvh;
    width: 70vw;
    transition: all 0.3s;
    z-index: 1000;
    &.active {
      visibility: visible;
      opacity: 1;
      left: 0;
    }
    &::before {
      content: "";
      position: absolute;
      background: var(--black);
      width: 100vw;
      height: 100vh;
      opacity: 0.25;
      z-index: 1000;
      left: 0;
      top: 0;
    }
    &-container {
      width: 100%;
      height: 100%;
      padding: 25px;
      position: relative;
      z-index: 10000;
      display: flex;
      left: -20%;
      flex-direction: column;
      gap: 40px;
      background: var(--white);
      transition: all 0.3s;
    }
    &.active &-container {
      left: 0;
    }
    &-list {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 15px;
    }
    &-item-link {
      width: 100%;
      height: 100%;
      font-size: 20px;
    }
    &-email-link {
      font-size: 20px;
    }
  }
}

@media (max-width: 880px) {
  .header {
    &__email {
      visibility: hidden;
      opacity: 0;
      display: none;
    }
  }
  .menu {
    visibility: hidden;
    opacity: 0;
    display: none;
    &__burger {
      display: block;
      visibility: visible;
      z-index: 100000;
    }
    &__hidden {
    }
  }
}
