html {
  scroll-behavior: smooth;
}

.btn-to-up {
  display: flex;
  align-items: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  z-index: 100;
  transform: rotateZ(180deg);
  animation-name: pulsar-btn;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  visibility: hidden;
  transition: all 0.3s;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

* {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: var(--black);
}
a:hover {
  color: var(--blue);
  transition: all 0.3s;
}
body {
  position: relative;
}

:root {
  --white: #ffffff;
  --black: #1f1b20;
  --dark: #363636;
  --violet: #a73489;
  --orange: #e64e5b;
  --blue: #00aeff;
  --gray: #828d9c;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100dvh;
  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 70px;
  }

  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  color: var(--black);
  &_h2 {
    font-size: 32px;
    font-weight: bold;
  }
}

.text {
  &_purple {
    font-size: inherit;
    color: var(--violet);
  }
}

@media (max-width: 545px) {
  .title {
    &_h2 {
      font-size: 28px;
    }
  }
}
