* {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: var(--black);
}

body {
    position: relative;
}

:root {
    --white: #ffffff;
    --black: #1F1B20;
}
.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}