* {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: var(--black);
}
a:hover {
  color: var(--blue);
  transition: all 0.3s;
}
body {
  position: relative;
}

:root {
  --white: #ffffff;
  --black: #1f1b20;
  --dark: #363636;
  --violet: #a73489;
  --orange: #E64E5B;
  --blue: #00aeff;
  --gray: #828D9C;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100dvh;
  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 70px;
  }

  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  color: var(--black);
  &_h2 {
    font-size: 32px;
    font-weight: bold;
  }
}

.text {
  &_purple {
    font-size: inherit;
    color: var(--violet);
  }
}

@media (max-width: 545px) {
  .title {
    &_h2 {
      font-size: 28px;
    }
  }
}
