.services {
  &__container {
    padding-top: 120px;
  }
  &__top {
    margin-bottom: 30px;
  }
  &__title {
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1 0 369px;
    padding: 30px 18px 20px;
    width: 100%;
    height: 100vh;
    max-height: 160px;
    border-right: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
  }
  &__item-title {
    font-size: 18px;
    font-weight: 500;
  }
  &__item-description {
    font-weight: 300;
  }
}

@media (max-width:450px) {
 .services {
    &__item {
        flex: 1 0 250px;
        padding: 30px 15px 20px;
    }
 }
}
